/* Screen CSS */

#form {margin-left: 30%;
	margin-right: 30%;
	background-image:url('back.jpg'); /* image courtesy of digitalrevolutions.biz */
	background-repeat:no-repeat;
	text-align: center;
	padding-top: 25%;
	}

	
